*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gochi hand;
    background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
html , body{
    height: 100%;
    width: 100%;
}

.bg {
    position: fixed; /* Stay in place */
    z-index: -98 !important ;/* Sit on top */
    height: 100%;
    width: 100%;

}